@charset "utf-8";
$blue:#1c90f3;
$textColor:#24292d;
$redColor:#ff3959;
$minorColor:#575e68;
$gColor:#b3b3b3;
$lineColor:#e4e7ed;

.box{
	min-height: 100vh;
	background-color: #f1f2f6;
}
.white{
	background-color: white;
}
.only-1{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.multiline{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.flex-1{
	flex: 1;
}
